
HGPageScrollViewSample.xcodeproj/xcuserdata/Rotem.xcuserdatad/*
HGPageScrollViewSample.xcodeproj/project.xcworkspace/xcuserdata/*
HGPageScrollViewSample.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store
